
[Unit]
Description=demo Service
After=network.target

[Service]
User=root
WorkingDirectory=/home/root/Ansible
ExecStart=/home/root/Ansible/python Hello_World.py
Restart=always

[Install]
WantedBy=multi-user.target


